@page "/signin"

    <AuthorizeView>
        <NotAuthorized Context="Auth">
            <div class="content px-4">
                <div class="text-center">
                    <h3>SignIn</h3>
                </div>
                <EditForm Model="@SignInDTO" OnValidSubmit="HandleOnValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-5">
                            <InputText class="form-control" @bind-Value="@SignInDTO.Username" type="login" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-5">
                            <InputText class="form-control" @bind-Value="@SignInDTO.Password" type="password" />
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">SignIn</button>

                </EditForm>
            </div>
        </NotAuthorized>
        <Authorized Context="Auth">

            <a class="active">You are authorized @Auth.User.Claims.SingleOrDefault(c => c.Type == "username").Value!</a>
        </Authorized>

    </AuthorizeView>

    @code {

    }
