
<li class="nav-item px-3">
    <button type="button" class="list-group-item list-group-item-action">
        <span class="oi oi-chat" aria-hidden="true"></span> @ChatName
    </button>
</li>

@code {
    [Parameter]
    public string ChatName { get; set; }
}
